body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; height: 100%; }
#unity-canvas { width: 100%; height: 100%; background: #2354a1 }
#unity-loading-bar { width: 100%; height: 100%; display: none; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

/* Shreable CSS: switch "inherit" to "absolute" for PWA build or backwards for standart WebGL build*/
#gradient { position: absolute; top: 0%; height: 55%; width: 100%; background: url('gradient.png') no-repeat center; background-size: contain;}
#unity-logo { position: absolute; top: 20%; width: 100%; height: 20%; background: url('unity-logo-dark.png') no-repeat center; background-size: contain; }
#unity-title {position: relative; top: 120%; height: 38%; background: url('TvoyVkus_rus.png') no-repeat center; background-size: contain;}
#unity-progress-bar-container {position: absolute; bottom: 8%; height: 3%; width: 100%;}
#unity-progress-bar-empty { height: 100%; aspect-ratio: 7.83; background: url('progress-bar-empty-dark.png') no-repeat center; background-size: contain; margin: 0% auto;}
#unity-progress-bar-full { width: 100%; height: 100%; background: url('progress-bar-full-dark.png') no-repeat center; background-size: contain; }
#image_selector {display: none;}
#unity-container:lang(kk) #unity-title { background: url('TvoyVkus_kaz.png') no-repeat center; background-size: contain;}
